@media screen and (min-width: 768px) {
  body {
    width: 100%;
    height: 100%;
    background-color: rgb(153, 176, 176);
  }
  .homeBtn {
    width: 6rem;
    height: 2rem;
    background-color: black;
    color: white;
    margin-top: 15%;
    margin-left: 30%;
    border-style: inset;
  }
  .add {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 25%;
    margin-left: 30%;
  }
  .add input {
    border: none;
    font-size: 1rem;
    padding: 5px;
  }
  .add button {
    width: 6rem;
    height: 2rem;
    margin-left: 35%;
  }
  .list{
    
  }
}
